<h1><%= header %></h1>
<% if @contact.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
 
    <ul>
    <% @contact.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag url, method: method_variable do %>

<div>
  First Name:
  <input type="text" name="first_name" value="<%= @contact.first_name %>">
</div>

<div>
  Middle Name:
  <input type="text" name="middle_name" value="<%= @contact.middle_name %>">
</div>

<div>
  Last Name:
  <input type="text" name="last_name" value="<%= @contact.last_name %>">
</div>

<div>
  Email:
  <input type="text" name="email" value="<%= @contact.email %>">
</div>

<div>
  Phone Number:
  <input type="text" name="phone_number" value="<%= @contact.phone_number %>">
</div>

<div>
  Address:
  <input type="text" name="input_address" value="<%= @contact.get_address %>">
</div>

<div>
  <input type="submit" name="Save contact!">
</div>

<% end %>